/*Color schemes
Blue Ribbon: #145AF7 (royal blue)
Charcoal: #4C4A4A (black)
Ghost: #CCD0D8 (gray)
Mint: #3CE8B1 (green)
*/
:root{
    --blue-ribbon: #145AF7;
    --charcoal: #4C4A4A;
    --ghost: #E7EFEC;
    --mint: #3CE8B1;
}
body{
    background-color: var(--ghost);
    margin: 0;
    padding: 0;
    font-family:"Didact Gothic", sans-serif;
}
/***header***/
header{
    background-color: var(--mint);
    margin: 0;
    border-bottom: 8px solid var(--blue-ribbon);
}
/*top banner*/
.header-container{
    display: flex;
    flex-direction: row;
}
.header-box{
    width: 50%;
}
#header-box1{
    font-size: 1.5em;
    padding-left: 15px;
}
#header-box2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    color: var(--charcoal);
}
#clock{
    font-family: monospace;
    font-size: 2em;
}
#date{
    font-size: 1.5em;
}
/*navbar*/
.navbar-container{
    padding: 20px;
    background-color: var(--charcoal);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*desktop-menu*/
.desktop-menu a{
    text-decoration: none;
    color: var(--ghost);
    border-bottom: 2px solid var(--blue-ribbon);
}
.desktop-menu ul{
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 0;
}
.desktop-menu ul li{
    padding: 5px;
    margin-left: 10px;
}
.navbar-container a:hover{
    color: var(--blue-ribbon);
    transition: color 0.5s linear;
}
#active{
    color: var(--blue-ribbon);
}
/*mobile menu*/
.mobile-menu{
    width: auto;
    display: none;
    justify-content: center;
    align-items: center;
}
.mobile-menu ul{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.mobile-menu a{
    color: var(--ghost);
    text-decoration: none;
    display: block;
    padding: 12px;
    border-bottom: 2px solid var(--blue-ribbon);
    text-align: center;
}
/***main***/
h2, h3{
    text-decoration: underline;
}
/*intro*/
#intro{
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}
.intro-container{
    display: flex;
    flex-direction: row;
}
#intro-box1{
    width: 45%;
}
#intro-box1 img{
    max-width: 60%;
    max-height: 60%;
}
#intro-box2{
    width: 55%;
}
#intro-box2 p{
    text-align: left;
}
#intro-box2 a{
    text-decoration: underline;
    color: var(--charcoal);
    font-style: italic;
}

/*contact*/
#contact{
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}
/*icons*/
.fa-brands.fa-github.fa-lg, .fa-brands.fa-java.fa-lg, .fa-brands.fa-html5.fa-lg, .fa-brands.fa-css3.fa-lg, .fa-brands.fa-js.fa-lg, .fa-solid.fa-envelope.fa-lg, .fa-brands.fa-linkedin.fa-lg{
    color: var(--blue-ribbon);
}
/***footer***/
footer{
    border-top: 8px solid var(--blue-ribbon);
    min-height: 50px;
    color: var(--ghost);
    background-color: var(--charcoal);
    text-align: center;
    position: bottom;
    overflow: auto;
}
footer .contact{
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
}
footer .contact #contact-header{
    text-decoration: underline var(--blue-ribbon);
    color: var(--ghost);
}
footer p{
    margin-bottom: 0;
}
/*Responsive css*/
@media (max-width:520px){
    /*header*/
    .header-container{
        flex-direction: column;
        align-items: center;
    }
    #header-box1{
        width: 100%;
        padding-left: 0px;
        text-align: center;
    }
    #header-box2{
        width: 100%;
    }
    /*navbar*/
    .navbar-container{
        align-items: center;
    }
    .desktop-menu{
        display: none;
    }
    .mobile-menu{
        display: flex;
    }
    /*intro*/
    .intro-container{
        flex-direction: column;
        align-items: center;
    }
    #intro-box1{
        width: 100%;
    }
    #intro-box1 img{
        max-height: 100px;
    }
    #intro-box2{
        width: 100%;
    }
}