/*Color schemes
Blue Ribbon: #1463F3 (royal blue)
Shark: #1D2023 (black)
Ghost: #CCD0D8 (gray)
Malibu: #84A4FC (light blue)
*/
:root{
    --blue-ribbon: #1463F3;
    --shark: #1D2023;
    --ghost: #CCD0D8;
    --malibu: #84A4FC;
}
body{
    background-color: var(--ghost);
    margin: 0;
    padding: 0;
    font-family:"Didact Gothic", sans-serif;
}
/***header***/
header{
    background-color: var(--malibu);
    margin: 0;
    border-bottom: 8px solid var(--blue-ribbon);
}
/*top banner*/
.header-container{
    display: flex;
    flex-direction: row;
}
.header-box{
    width: 50%;
}
#header-box1{
    font-size: 1.5em;
    padding-left: 15px;
}
#header-box2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    color: var(--shark);
}
#clock{
    font-family: monospace;
    font-size: 2em;
}
#date{
    font-size: 1.5em;
}
/*navbar*/

.navbar-container{
    background-color: var(--shark);
    height: 70px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80%;
    margin: auto;
}
.navbar-container .navbar{
    justify-content: space-around;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style-type: none;
}
.navbar-container .navbar ul li{
    padding: 10px;
    margin: 0 20px;
}
.menu-box{
    border-bottom: 3px solid var(--blue-ribbon);
    border-radius: 0px;
}
.navbar a{
    color: var(--ghost);
    font-weight: bold;
    text-decoration: none;
}
.navbar a:hover{
    color: var(--blue-ribbon);
    transition: color 0.5s linear;
}
#active{
    color: var(--blue-ribbon);
}
/***main***/
h3{
    text-decoration: underline;
}
.greeting{
    margin-left: 40px;
    margin-right: 40px;
    border: 2px solid var(--blue-ribbon);
    border-radius: 20px;
}
.greeting p{
    padding: 10px;
}
/*contact*/
#contact{
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}
/*icons*/
.fa-brands.fa-github.fa-lg, .fa-brands.fa-java.fa-lg, .fa-brands.fa-html5.fa-lg, .fa-brands.fa-css3.fa-lg, .fa-brands.fa-js.fa-lg, .fa-solid.fa-envelope.fa-lg, .fa-brands.fa-linkedin.fa-lg{
    color: var(--blue-ribbon);
}
/***footer***/
footer{
    border-top: 8px solid var(--blue-ribbon);
    min-height: 50px;
    color: var(--ghost);
    background-color: var(--shark);
    text-align: center;
    position: bottom;
    
}
footer .contact{
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
}
footer .contact #contact-header{
    text-decoration: underline var(--blue-ribbon);
    color: var(--ghost);
}
footer p{
    margin-bottom: 0;
}