/*Color schemes
Blue Ribbon: #145AF7 (royal blue)
Charcoal: #4C4A4A (black)
Ghost: #CCD0D8 (gray)
Mint: #3CE8B1 (green)
*/
:root{
    --blue-ribbon: #145AF7;
    --charcoal: #4C4A4A;
    --ghost: #E7EFEC;
    --mint: #3CE8B1;
}
body{
    background-color: var(--ghost);
    margin: 0;
    padding: 0;
    font-family:"Didact Gothic", sans-serif;
}
/***header***/
header{
    background-color: var(--mint);
    margin: 0;
    border-bottom: 8px solid var(--blue-ribbon);
}
/*top banner*/
.header-container{
    display: flex;
    flex-direction: row;
}
.header-box{
    width: 50%;
}
#header-box1{
    font-size: 1.5em;
    padding-left: 15px;
}
#header-box2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    color: var(--charcoal);
}
#clock{
    font-family: monospace;
    font-size: 2em;
}
#date{
    font-size: 1.5em;
}
/*navbar*/

.navbar-container{
    background-color: var(--charcoal);
    height: 70px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80%;
    margin: auto;
}
.navbar-container .navbar{
    justify-content: space-around;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style-type: none;
}
.navbar-container .navbar ul li{
    padding: 10px;
    margin: 0 20px;
}
.menu-box{
    border-bottom: 3px solid var(--blue-ribbon);
    border-radius: 0px;
}
.navbar a{
    color: var(--ghost);
    font-weight: bold;
    text-decoration: none;
}
.navbar a:hover{
    color: var(--blue-ribbon);
    transition: color 0.5s linear;
}
#active{
    color: var(--blue-ribbon);
}
/***main***/
main h1{
    margin-left: 15px;
}
h3{
    text-decoration: underline;
}
/*projects*/
#projects{
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}
#projects .project-widget{
    border: 2px solid var(--charcoal);
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: column;
}
.project-widget a{
    color: var(--charcoal);
    text-decoration: none;
}
.project-widget a:hover{
    border: 5px solid var(--blue-ribbon);
    transition: border 0.25s linear;
}
.project-widget h5{
    margin-top: 3px;
    margin-bottom: 2px;
}
.project-image{
    width: 90%;
    height: auto;
    background-color: var(--charcoal);
    border: 2px solid var(--blue-ribbon);
    border-top: none;
}
#project-skills{
    border-top: 1px solid var(--charcoal);
    text-align: center;
}
#project-skills ul{
    display: inline-block;
    text-align: left;
}
/*skills*/
#skills{
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
}
#skills h3{
    text-align: center;
}
.skills-container{
    display: flex;
    flex-direction: row;
}
#skills-box1{
    width: 75%;
}
#skills-box2{
    width: 25%;
}
#tech-stack{
    border: 3px solid var(--charcoal);
    border-radius: 20px;
    text-align: center;
}
#tech-stack h4{
    margin-bottom: 0px;
}
#tech-stack ul{
    display: inline-block;
    text-align: left;
}
/*icons*/
.fa-brands.fa-github.fa-lg, .fa-brands.fa-java.fa-lg, .fa-sharp.fa-solid.fa-c.fa-lg, .fa-brands.fa-html5.fa-lg, .fa-brands.fa-css3.fa-lg, .fa-brands.fa-js.fa-lg, .fa-solid.fa-database.fa-lg, .fa-solid.fa-envelope.fa-lg, .fa-brands.fa-linkedin.fa-lg{
    color: var(--blue-ribbon);
}
/***footer***/
footer{
    border-top: 8px solid var(--blue-ribbon);
    min-height: 50px;
    color: var(--ghost);
    background-color: var(--charcoal);
    text-align: center;
    position: bottom;
    
}
footer .contact{
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
}
footer .contact #contact-header{
    text-decoration: underline var(--blue-ribbon);
    color: var(--ghost);
}
footer p{
    margin-bottom: 0;
}